/*
  @name fix css comments in css
  @regex (/\*.*(?<!\*ƒ/))$\n(?:( *) ?)
  @replace $1 *ƒ/
  $2/*
  @untilfail
  @endregex

  */
:root {
  font-size: small;
  --root-color: #00d941; /* 00fbff */
  /* --root-color: #0400ff; */
  /* --bg-color: color-mix(in srgb, var(--root-color) 10%, black); */
  --border-color: color-mix(
    in srgb,
    var(--root-color) 30%,
    black 60%
  );
  --text-shadow-color: color-mix(
    in srgb,
    var(--root-color) 80%,
    black 20%
  );

  --border-color: color-mix(
    in srgb,
    var(--root-color) 30%,
    black 90%
  );

  --main-darkish: color-mix(in srgb, var(--root-color), black 30%);
  --main-dark: color-mix(in srgb, var(--root-color), black 60%);
  --main-darker: color-mix(in srgb, var(--root-color), black 75%);
  --main-darkest: color-mix(in srgb, var(--root-color), black 90%);
  --main-lightish: color-mix(in srgb, var(--root-color), white 30%);
  --main-light: color-mix(in srgb, var(--root-color), white 60%);
  --main-lighter: color-mix(in srgb, var(--root-color), white 75%);
  --main-lightest: color-mix(in srgb, var(--root-color), white 90%);
  --trans: #0000;
  --secondary-light: #6da2e9;
  --secondary-dark: #4a92f7;
  --change-purple: #7300ff;
  --change-white: #fff;

  --custom-thumb-color: var(--main-light);
  --custom-track-color: var(--main-dark);
  --webkit-scrollbar-width-height: 10px;
  --webkit-scrollbar-border-radius: 50px;
  --custom-track-color-hover: color-mix(
    in srgb,
    var(--main-light) 10%,
    #000 100%
  );
}

body {
  background-color: var(--main-darkest);
}
input:not(input[type="checkbox"]) {
  outline: 0;
  box-shadow: 0px 0px 5px var(--text-shadow-color);
}

input,
button,
label {
  color: var(--root-color);
  background-color: var(--bg-color);
  text-shadow: 0px 0px 5px var(--text-shadow-color);
}

input[type="checkbox"],
button {
  accent-color: var(--root-color);
  box-shadow: 0px 0px 5px var(--text-shadow-color);
  border: 1px solid var(--border-color);
  margin-right: 3px;
}

html {
  /* overflow-y: hidden !important;
  overflow-x: hidden !important; */
  height: 100vh !important;
  padding: 0px;
  margin: 0;
  color-scheme: light dark;
}
.hidden {
  display: none !important;
}

div,
li,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
h7 {
  color: var(--main-light) !important;
}

a {
  color: var(--main-lighter) !important;
}
